.movies{
    max-width: 1140px;
    font-family: inherit;
}

.movies-list__error-container {
    max-width: 100%;
}

.movies-list__error {
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 320px){
    .movies__more-btn{
        width: 240px;
    }
}