@import url('./fonts/Inter.css');
@import url('./vendor/normalize.css');

body {
  background-color: #202020;
  width: 100%;
}

#root {
  margin: 0 auto;
  color: #ffffff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  width: 100%;
}
